#bean-img {
    transition: opacity 1s ease-in;
    opacity: 0;
}
.credits figcaption,
.credits figcaption a {
    font-family: 'Noto Sans TC', sans-serif;
    color: black;
}

.credits figcaption a {
    text-decoration: underline;
    text-underline: black;
}