.azuki-nyc-navigation-wrapper {
    width: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    align-items: stretch;
    padding: 4px;
    border-radius: 6px;
    background-color: #E6E6E6;
    background-color: rgba(34, 34, 34, 0.8);
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item {
    display: inline-block;
    padding: 20px 14px;
    margin-right: 4px;
    border-radius: 6px;
    background-color: rgb(34, 34, 34);
    font-size: 14px;
    transition: 0.3s;
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item:hover {
    background-color: #c83d4a;
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item:last-child {
    margin-right: 0px;
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item.active {
    background-color: #c83d4a;
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item.inactive {
    background-color: transparent;
    cursor: not-allowed;
}

.azuki-nyc-navigation-wrapper .azuki-nyc-navigation .azuki-nyc-navigation-item.social-media {
    padding: 4px;
}

.svg-container
{
    display: flex;
    align-items: center;
    height: 100%;
}

.svg
{
    margin: 0 auto;
    display: block;
}

a {
    color: #0060B6;
    text-decoration: none;
    color: white;
}

a:hover {
    /*color:#00A0C6;*/
    text-decoration:none;
    cursor:pointer;
}