@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

.App {
  text-align: center;
}

.image-wrapper {
  width: 50vw;
  height: 50vw;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper img {
  width: auto;
  height: 100%;
}

.navigation-positioner {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

h1 {
  color: white;
}
